.hesaplarim_container{
    -fx-background-color: #5798ff;
}
.hesaplarim_container Text{
    -fx-fill: #002af1;
    -fx-font-size: 1.6em;
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold;

}
.hesaplarim_container VBox{
    -fx-border-width:0 0 0 1 ;
    -fx-border-color: #00106c;
    -fx-background-color: #81cbff;
    -fx-padding:10 ;
    -fx-spacing: 15;
}
.hesaplarim_container VBox Text{
    -fx-font-size: 1.3em;
}
.hesaplarim_container VBox Label{
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
}
.hesaplarim_container ChoiceBox{
    -fx-font-size: 1em;
    -fx-background-color: #a4caff;
}
.hesaplarim_container TextField{
    -fx-pref-width: 230;
    -fx-pref-height: 35;
    -fx-effect: dropshadow(three-pass-box,#aaaaaa,3,0,0,3);
    -fx-background-color: #a4caff;
}
.hesaplarim_container Button{
    -fx-background-color: #a4caff;
    -fx-pref-width: 230;
    -fx-font-size: 1.5em;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box,#aaaaaa,3,0,0,3);
}
.hesaplarim_container Button:hover{
    -fx-cursor: hand;
}