.islemler_container{
    -fx-background-color: #5798ff;
}
.islemler_container Text{
    -fx-fill: #97fdff;
    -fx-font-size: 2.5em;
    -fx-font-family: "Calibri Light";
}
.islemler_container .list-view{
    -fx-background-color: #5798ff;
    -fx-padding:10 ;
}
.islemler_container .list-cell{
    -fx-background-color: #5798ff;
    -fx-pref-width: 800;
}